<div class="row book-list">
  <% @books.each do |book| %>
    <div class="col-sm-6 col-md-5">
      <div class="thumbnail">
        <%= link_to book do %>
          <% if book.image? %>
            <%= image_tag(book.image.url, class: "image img-reponsive") %>
          <% else %>
            <%= image_tag(book.poster, class: "image img-reponsive") %>
          <% end %>
        <% end %>
        <div class="book-info">
          <div class="name">
            <h6><%= book.name %></h6>
          </div>
           <p class="author"><%= book.author %></p>
           <p class="price"><%= book.price %></p>
           <% if signed_in? && current_user.admin? %>
             <%= link_to 'Edit', edit_book_path(book) %> |
             <%= link_to 'Destroy', book_path(book),
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
           <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<% if signed_in? && current_user.admin? %>
<%= link_to 'New Book', new_book_path %>
<% end %>
