<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "Book Store", root_path, class: "navbar-brand" %>
  <ul class="nav navbar-nav">
    <%if signed_in?%>
      <li class="nav-item">
         <%= link_to current_user.email, edit_user_registration_path %>
      </li>
      <li class="nav-item">
         <%= link_to "Logout", destroy_user_session_path, method: :delete %>
      </li>
      <% if current_user %>
        <li class="nav-item">
          Admin: <strong><%= current_user.admin? %></strong><br>
          <%= link_to "Toggle admin rights", user_path(current_user), method: :patch, class: "btn btn-info" %>
        </li>
        <li class="nav-item">
          <%= link_to cart_path(current_user.id) do %>
            <i class="fa fa-shopping-cart"></i>
            My Cart
            (<span class="cart-count"><%= current_user.cart_count %></span>)
          <% end %>
        </li>
      <% end %>
    <% else %>
      <li class="nav-item active">
        <%= link_to "Register", new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path %>
      </li>
    <% end %>
  </ul>
  <form class="form-inline pull-xs-right">
    <input class="form-control" type="text" placeholder="Search">
    <button class="btn btn-success-outline" type="submit">Search</button>
  </form>
</nav>
